// Color
$color-black-0: rgb(0, 0, 0);
$color-white-0: rgb(255, 255, 255);
$color-blue-light-0: rgb(124, 187, 245);
$color-background-page-0: #fff2d6d8;
$color-primary: #fed682;
// Border
$bd-4: 4px;

// Font size
$fs-18: 18px;

// Margin
$mr-5: 5px;

// Padding
$pd-10: 10px;
$pd-20: 20px;

//Break point
$breakpoint: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);

$res_320: "only screen and (min-width: 320px) and (max-width: 374px)";
$res_375: "only screen and (min-width: 375px) and (max-width: 424px)";
$res_425: "only screen and (min-width: 425px) and (max-width: 767px)";
$res_768: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_992: "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_1024: "only screen and (min-width: 1024px) and (max-width: 1999px)";
$res_1200: "only screen and (min-width: 1200px)";
