@import "../Helpers/variables.scss";
@import "../Helpers/mixin.scss";

.container {
  padding: $pd-10;
  width: 17.6%;
  height: 22rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  background: red;
  font-size: smaller;
  border: none;
  cursor: pointer;
}
.tooltip {
  display: flex;
  flex-direction: column;
  color: black;
}
.div-span {
  // background-color: $color-blue-light-0;
  min-width: 12rem;
  height: 12rem;
  padding: $pd-10;
  display: flex;
  flex-direction: column;
}
.image {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
}
.span {
  @include styleText($color-black-0, 20px, bold);
}
